Import Section:

In [13]:
import pandas as pd
import numpy as py

First we will read in the steam_reviews.csv to see how we can use our data.

In [18]:
df = pd.read_csv("data/steam_reviews.csv")
df.head(3)

,Unnamed: 0,app_id,app_name,review_id,language,review,timestamp_created,timestamp_updated,recommended,votes_helpful,...,steam_purchase,received_for_free,written_during_early_access,author.steamid,author.num_games_owned,author.num_reviews,author.playtime_forever,author.playtime_last_two_weeks,author.playtime_at_review,author.last_played
0,0,292030,The Witcher 3: Wild Hunt,85185598,schinese,不玩此生遗憾，RPG游戏里的天花板，太吸引人了,1611381629,1611381629,True,0,...,True,False,False,76561199095369542,6,2,1909.0,1448.0,1909.0,1.611343e+09
1,1,292030,The Witcher 3: Wild Hunt,85185250,schinese,拔DIAO无情打桩机--杰洛特!!!,1611381030,1611381030,True,0,...,True,False,False,76561198949504115,30,10,2764.0,2743.0,2674.0,1.611386e+09
2,2,292030,The Witcher 3: Wild Hunt,85185111,schinese,巫师3NB,1611380800,1611380800,True,0,...,True,False,False,76561199090098988,5,1,1061.0,1061.0,1060.0,1.611384e+09

Here we can see the total number of games, user, and reviews in our data.
 - The `app_id` contains a unique id for each game
 - The `author.steamid` contains the unique id for the user who left the review
 - The `review_id` contains a unique id for each review

In [4]:
total_games = len(pd.unique(df['app_id']))
total_user = len(pd.unique(df['author.steamid']))
total_reviews = len(pd.unique(df['review_id']))

print("Total number of games: ", total_games)
print("Total number of user: ", total_user)
print("Total number of reviews: ", total_reviews)

Total number of games:  315
Total number of user:  12406560
Total number of reviews:  21612444

On Steam, user can review games with one of two option, recommand or not recommand, which is represented by the `recommended` column in the dataset. 

Here we convert the `recommended` column from boolean to integer, and we can turn the dataframe into a matrix to help us further process the data.

In [33]:
recommend_df = df.drop(columns=['Unnamed: 0','app_name','review_id','language','review','timestamp_created','timestamp_updated','votes_helpful','votes_funny','weighted_vote_score','comment_count','steam_purchase','received_for_free','written_during_early_access','author.num_games_owned','author.num_reviews','author.playtime_forever','author.playtime_last_two_weeks','author.playtime_at_review','author.last_played'])
recommend_df['recommended'] = df["recommended"].astype(int)
recommend_df.head()

   app_id  recommended     author.steamid
0  292030            1  76561199095369542
1  292030            1  76561198949504115
2  292030            1  76561199090098988
3  292030            1  76561199054755373
4  292030            1  76561199028326951

In [34]:
recommend_df = recommend_df.sample(frac=0.25, random_state = 1)
recommend_df.head()

          app_id  recommended     author.steamid
12646243  206190            1  76561197994850832
2786088   242760            1  76561198230313260
6252091   359550            1  76561198157252505
17446938  374320            1  76561198057415490
13513684  271590            1  76561198132797166

In [32]:
recommend_df = recommend_df.pivot(index='app_id', columns='author.steamid',values='recommended')
recommend_df.head()

ValueError: Index contains duplicate entries, cannot reshape