Import Section:

In [1]:
import pandas as pd

First we will read in the steam_reviews.csv to see how we can use our data.

In [2]:
df = pd.read_csv("data/steam_reviews.csv")

We can drop the first column called `Unnamed: 0`, since it is just the index value.

In [4]:
df = df.drop(columns=['Unnamed: 0'])
df.head(3)

,app_id,app_name,review_id,language,review,timestamp_created,timestamp_updated,recommended,votes_helpful,votes_funny,...,steam_purchase,received_for_free,written_during_early_access,author.steamid,author.num_games_owned,author.num_reviews,author.playtime_forever,author.playtime_last_two_weeks,author.playtime_at_review,author.last_played
0,292030,The Witcher 3: Wild Hunt,85185598,schinese,不玩此生遗憾，RPG游戏里的天花板，太吸引人了,1611381629,1611381629,True,0,0,...,True,False,False,76561199095369542,6,2,1909.0,1448.0,1909.0,1.611343e+09
1,292030,The Witcher 3: Wild Hunt,85185250,schinese,拔DIAO无情打桩机--杰洛特!!!,1611381030,1611381030,True,0,0,...,True,False,False,76561198949504115,30,10,2764.0,2743.0,2674.0,1.611386e+09
2,292030,The Witcher 3: Wild Hunt,85185111,schinese,巫师3NB,1611380800,1611380800,True,0,0,...,True,False,False,76561199090098988,5,1,1061.0,1061.0,1060.0,1.611384e+09

In [6]:
total_games = len(pd.unique(df['app_id']))
total_user = len(pd.unique(df['author.steamid']))
total_reviews = len(pd.unique(df['review_id']))

print("Total number of games: ", total_games)
print("Total number of user: ", total_user)
print("Total number of reviews: ", total_reviews)

Total number of games:  315